<configuration>
	<system.serviceModel>
		<services>
			<service name="RequestWCFService.RequestService">
				<endpoint address="" binding="basicHttpBinding" contract="RequestWCFService.IRequestService"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:44331/RequestWCFService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>
